backtrace==0.2.1
Pygments==2.7.3
colorama==0.3.7
offsh-xxh==1.0.0
packaging==20.7
pexpect==4.8.0
prompt-toolkit==3.0.8
ptyprocess==0.6.0
pyparsing==2.4.7
PyYAML==5.3.1
wcwidth==0.2.5
xonsh==0.9.24
xontrib-ergopack==0.1.1
xontrib-prompt-bar==0.2.3
xontrib-readable-traceback==0.3.2
xontrib-syslog-shell-profiler
